*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid{
    height: 100px;
    background-color: aliceblue;
    
}
nav,
nav ul{
    background-color: aliceblue;
    z-index: 4;
}

.bentley-icon{
    height: 60px;
    width: 80px;
}
.carousel-item {
    max-width: 100%;
    
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.linkbox{
    height: 50px;
    
}
@media screen and (max-width: 480px) {
    .carousel-item {
      max-width: 100%;
      
  }
  }
  .carousel-inner{
    position: relative;
  }
  .carousel-button{

    position: absolute;
    bottom: 40%;
    left: 10%;
    color: aliceblue;
  }
  .button1{
    width: 300px;
    height: 50px;
    background-color: green;
    color: aliceblue;
    border: none;
  }
  .button1:hover{

  }
  .button2{
    width: 300px;
    height: 50px;
    background: none;
    color: aliceblue;

  }
  .images{
    position: relative;
  }
  .ownership{
    height: 40px;
    width: 150px;
    background-color:white;
    position: absolute;
    top: 0%;
    text-align: center;
    
  }
  .col-1 img{
    height: 30px;
  }
  .footer-link{
    margin-top: 30px;
  }
  
  .footer-link ul{
    list-style: none;
  }
 